@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}
body{
    padding-left: 4%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
header img{
    padding-top: 3% ;
    width: 7%;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;

}
nav p {
    font-family: 'Raleway';
    padding: 10px;
}
h1{
    font-family: sans-serif;
    font-size: 20px;
}
h1 +p{
    font-family: 'Raleway';
    font-size: 17px;
}

.barre_recherche{
    display: flex;
    align-items: center;
    overflow:hidden;
    border-style: solid;
    border-color:lightgray;
    border-width: 1px;
    border-radius: 14px;
    height: 50px;
    width: 380px;

}
/* .fas est l'icon de localisation dans la barre de recherche*/
.fas {
    background-color: rgb(242, 242, 242);
    padding: 20px;
font-size: 18px;
}
input{
    padding: 15px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 580;
    height: 50px;
    width: 180px;
    border: none;
}
input + p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 440;
    color: white;
    height: 200px;
    width: 420px;
    background-color: rgb(66,87,255);


}


.FiltresBar{
    display: flex;
    align-items: center;

    overflow: hidden;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 590;
   
}
.vignette{
    margin: 20px;
    display: flex;
    align-items: center;
    border-width: 2px;
    border-radius: 50px;
    border-style: solid;
    border-left: none;
    border-color: rgb(217, 217, 217);
    height: 50px;
}
.vignette p{
    margin-right: 10px;
}
.vignette i{
    color: rgb(66, 87, 248);
    background-color: rgb(224, 234, 254);
    margin-right:10px;
    padding: 18px;
    border-radius: 40px;
    font-weight: 350;
}
.vignette .far {
    font-size: 20px;
}
.vignette img{
    background-color: rgb(224, 234, 254);
    margin-right:10px;
    padding: 18px;
    border-radius: 40px;
    font-weight: 350;
    width: 20px;
}
.logements_count {
    display: flex;
    align-items: center;
}
.logements_count p{
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 16px;
}
.logements_count i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    color: rgb(66, 87, 248);
    background-color: white;
    margin-right:10px;
    border-radius: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(217, 217, 217);
    font-size: 13px;
    padding: 5px 5px 5px 5px ;


}
section{
    padding: 20px 20px 20px 40px;
    background-color: rgb(242,242,242,242);
    border-radius: 14px;
}
section h1{
    font-size: 20px;
    font-family: 'Raleway';

}



