@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}
.corps{
    padding: 2%;
}
.NavMobil{
    display:none
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
header img{
    width: 100px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;

}
nav p {
    font-family: 'Raleway';
    padding: 10px;
}
a{
    
  outline: none;
  text-decoration: none;
  color: black;
    
}
nav .Inscription{
    color:rgb(66, 87, 248);
    font-weight: 600;
}
h1{
    margin-top:20px ;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 0;
}
h1 + p{
    margin-bottom: 35px;
    font-family: 'Raleway';
    font-size: 17px;
}


.barre_recherche{
    display: flex;
    align-items: center;
    overflow:hidden;
    border-style: solid;
    border-color:lightgray;
    border-width: 1px;
    border-radius: 14px;
    height: 50px;
    width: 380px;
    margin-bottom: 30px;

}
.barre_recherche a + .displayLoupe {
    display: none
}
/* .fas est l'icon de localisation dans la barre de recherche*/
.barre_recherche .fas {
    background-color: rgb(242, 242, 242);
    padding: 20px;
    font-size: 18px;
}
input{
    padding: 15px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 580;
    height: 50px;
    width: 180px;
    border: none;
}
input + a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 440;
    color: white;
    height: 200px;
    width: 420px;
    background-color: rgb(66,87,255);


}


.FiltresBar{
    display: flex;
    flex-direction: row;
    align-items: center;

    overflow: hidden;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 590;
   
}
.lesVignettes{
    display: flex;
    flex-direction: row;
}
.vignette{
    margin: 20px;
    display: flex;
    align-items: center;
    border-width: 2px;
    border-radius: 50px;
    border-style: solid;
    border-left: none;
    border-color: rgb(217, 217, 217);
    height: 50px;
  transition: transform 400ms ease-in-out 100ms
}

.vignette:hover{
    transform: scale(1.14);
}
.vignette p{
    margin-right: 10px;
}
.vignette i{
    color: rgb(66, 87, 248);
    background-color: rgb(224, 234, 254);
    margin-right:10px;
    padding: 18px;
    border-radius: 40px;
    font-weight: 350;
}
.vignette .far {
    font-size: 20px;
}
.vignette img{
    background-color: rgb(224, 234, 254);
    margin-right:10px;
    padding: 18px;
    border-radius: 40px;
    font-weight: 350;
    width: 20px;
}
.logements_count {
    display: flex;
    align-items: center;
}
.logements_count {
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 15px;
}
.logements_count i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    color: rgb(66, 87, 248);
    background-color: white;
    margin-right:10px;
    border-radius: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(217, 217, 217);
    font-size: 13px;
    padding: 5px 5px 5px 5px ;
    transition: transform 400ms;


}
.logements_count i:hover{
    transform: scale(1.1)

}
.premier_section_plus_aside{
    display: flex;
    flex-direction: row;
}
.Hebergements_Marseille{
    background-color: rgb(242,242,242,242);
    border-radius: 14px;
    width: 725px;
    margin-right:33px ;

}

.Hebergements_Marseille h2{
    padding: 35px;
    font-size:19px;
    font-weight: 559;
    font-family: 'Raleway';

}
.LesHebergementsGrille{
    padding-left: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.LesHebergementsGrille article{

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 200px;
    height: 160px;
    border-color: white;
    border-style: solid;
    border-radius: 14px;
    border-width: 5px;
    transition: transform 400ms;
    
} 
.LesHebergementsGrille article:hover{
    transform: scale(1.04)
}
.LesHebergementsGrille article .ArticleImage{
    overflow: hidden;
    height : 95px;
    position: relative;
    z-index: 1;

}
.LesHebergementsGrille article .ArticleImage .Cannebiere{
    height: 140px;
    top:-24px;
    left: -10px;
    position: absolute;
}
.LesHebergementsGrille article .ArticleImage .HotelDeLaMer{

    height: 190px;
    top:-55px;
    left: 0px;
    position: absolute;


}
.LesHebergementsGrille article .ArticleImage .Amina{

    position: absolute;
    width: 200px;
    top:-100px


}


.LesHebergementsGrille article .Informations{
    position: absolute;
    background-color:white ;
    top:40px;
    height: 150px;
    width: 300px;

}
.LesHebergementsGrille article .Informations .contenueInfo{
    position: relative;
}
.LesHebergementsGrille article .Informations h2{
    position: absolute;
    font-family: 'Raleway';
    font-size: 13px;
    font-weight: 590;
    top: 15px;
    left: -24px;
}
.LesHebergementsGrille article .Informations h3{

    position: absolute;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 300;
    top:72px;
    left:10px


}
.LesHebergementsGrille article .Informations h3 span{

    font-weight: 550;


}
.LesHebergementsGrille article .Informations .etoiles{

    position: absolute;
    font-family: 'Raleway';
    font-size: 5px;
    top: 106px;
    left: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    position: absolute;
    color:rgb(66, 87, 248);

}
.LesHebergementsGrille article .Informations .etoiles .etoileOff{
    color: rgb(217, 217, 217)

}


/* ICI COMMENCE LE CSS POUR LE ASIDE DES HEBERGEMENTS POPULAIRES*/

.Hebergements_populaires{
    padding-top: 35px;
    background-color: rgb(242, 242, 242);
    width: 340px;
    height: 630px;
    border-radius: 14px;

}

/*Titre du Aside pour les hebergements populaires*/

.titrePopulaire{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.titrePopulaire h2{
    

    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 530;
}
.titrePopulaire .fas{
    font-size: 18px;
}
/* Vignette dans le Aside*/

.vignettePopulaire{

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 14px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    display: flex;
    background-color: white;
    margin: 35px;
    height: 120px;
    width: 275px;
    position: relative;
    overflow: hidden;
    transition: transform 400ms;

}
.vignettePopulaire:hover{
    transform: scale(1.04);
}
.vignettePopulaire img{
    position: absolute;
    left: -40px;

    width: 180px;
    z-index: 1;
}
.vignettePopulaire .ToutBleuEtBlanc{
    width: 110px;
    top:-30px;
    left: 0px;
}
.DescriptionEtNotation{
   flex-wrap: wrap;
    position: absolute;
    margin-left: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    width: 170px;
    height: 120px;
    right: 0px;
}
.DescriptionEtNotation h2{
    padding-left: 15px;
    position: relative;
    top:-10px;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 550;
    
}
.DescriptionEtNotation p{

    position: relative;
    top:-20px;
    padding-left: 15px;

    font-family: 'Raleway';
    font-size: 11px;
    font-weight: 300;

}
.DescriptionEtNotation p span{
    font-weight: 550;
}
.DescriptionEtNotation .etoilesPopulaire{
    position: absolute;
    bottom: 10px;
    z-index: 3;
    padding-left: 15px;

    font-size: 10px;
    display: flex;
    flex-direction: row;
    position: absolute;
    color:rgb(66, 87, 248);
}
.DescriptionEtNotation .etoilesPopulaire .etoilePopulaireOff{
    color:rgb(217, 217, 217);
}

/*LES ACTIVITES A MARSEILLE SECTION */
.Activités_à_Marseille{

    border-radius: 14px;
    width: 1130px;
    height: 460px;

    padding: 27px;
    overflow: hidden;
}
.Les_Activités{
    display: flex;
    height: 620px;


}

.Activités_à_Marseille h2{
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 550;
    padding-top:50px ;


}
.Activités_à_Marseille .Vieux_port{

    box-shadow: 0px 1px 3px 0px #888888;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    height: 360px;
    width: 250px;
    
    background-color: white;
    margin: 10px;

    transition: transform 400ms;

}
.Activités_à_Marseille .Vieux_port:hover{
    transform: scale(1.04);
}
.Activités_à_Marseille .Vieux_port .CadragePourVieuxPort{
    position: relative;
    height: 340px;
    overflow: hidden;

}


.Activités_à_Marseille .Vieux_port img{
    position: absolute;
    left:-150px;
    width: 560px;
}
.Activités_à_Marseille .Vieux_port .TitreImage{
    background-color: white;

}

.deuxiem_colone{
    display: flex;
    flex-direction: column;
    width: 23%;
}
.Activités_à_Marseille .FortDePomègues{

  box-shadow: 0px 1px 3px 0px #888888;

    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    height: 180px;

    background-color: white;
    margin: 10px;
    transition: transform 400ms;

}
.Activités_à_Marseille .FortDePomègues:hover{
    transform: scale(1.04);
}
.Activités_à_Marseille .FortDePomègues .CadrageFortDePomègues{

    height: 280px;
    overflow: hidden;
    position : relative;
}

.Activités_à_Marseille .FortDePomègues img{
    position: absolute;
    top:-100px;
    left: 0px;
    width: 250px;
}
.Activités_à_Marseille .îles_du_Frioul{

  box-shadow: 0px 1px 3px 0px #888888;

    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    height: 155px;
    background-color: white;
    margin: 10px;
    transition: transform 400ms;

}
.Activités_à_Marseille .îles_du_Frioul:hover{
    transform: scale(1.04);
}

.Activités_à_Marseille .îles_du_Frioul .CadrageDuFrioul{

    height: 280px;
    overflow: hidden;
    position : relative;
}

.Activités_à_Marseille .îles_du_Frioul img{
    position: absolute;
    left: 0px;
    width: 250px;
}
.TitreImage p{

    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 550;
    padding-left: 15px;

}

.Activités_à_Marseille .Parc_National_des_calanques{

  box-shadow: 0px 1px 3px 0px #888888;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    height: 360px;
    width: 250px;
    background-color: white;
    margin: 10px;
    transition: transform 400ms;

}
.Activités_à_Marseille .Parc_National_des_calanques .CadrageCalanques{
    position: relative;
    height: 340px;
    overflow: hidden;
    

}
.Activités_à_Marseille .Parc_National_des_calanques:hover{
    transform:scale(1.04)
}


.Activités_à_Marseille .Parc_National_des_calanques img{
    position: absolute;
    left:-130px;
    width: 470px;
}
.Activités_à_Marseille .Parc_National_des_calanques .TitreImage{
    background-color: white;

}
.troisieme_colone{
    display: flex;
    flex-direction: column;
    width: 23%;
}
.Activités_à_Marseille .Notre_Dame_de_la_Garde{

  box-shadow: 0px 1px 3px 0px #888888;

    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    height: 180px;

    background-color: white;
    margin: 10px;
    transition: transform 400ms;

}
.Activités_à_Marseille .Notre_Dame_de_la_Garde:hover{
    transform:scale(1.04) ;
}
.Activités_à_Marseille .Notre_Dame_de_la_Garde .CadrageNotreDame{

    height: 280px;
    overflow: hidden;
    position : relative;
}

.Activités_à_Marseille .Notre_Dame_de_la_Garde img{
    position: absolute;
    left: 0px;
    width: 250px;
}
.Activités_à_Marseille .Parc_Longchamp{

    display: flex;

  box-shadow: 0px 1px 3px 0px #888888;
    flex-direction: column;
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    height: 155px;
    background-color: white;
    margin: 10px;
    transition: transform 400ms;

}
.Activités_à_Marseille .Parc_Longchamp:hover{
    transform: scale(1.04);
}

.Activités_à_Marseille .Parc_Longchamp .CadrageParc_Longchamp{

    height: 280px;
    overflow: hidden;
    position : relative;
}

.Activités_à_Marseille .Parc_Longchamp img{
    position: absolute;
    top:-30px;
    left:0px;
    width: 240px;
}
footer{
    display: flex;
    background-color: rgb(242,242,242,242);
    margin: 0;
    font-family: 'Raleway';
    font-size: 12px;
}
.coloneFooter{
    margin-right: 10%;
    margin-left:40px ;
    display:flex;
    justify-content: center;
    flex-direction: column;

}
.TitreColone{
    font-weight: 550;
}


