@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}
body{
    padding-left: 4%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
header img{
    padding-top: 3% ;
    width: 7%;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;

}
nav p {
    font-family: 'Raleway';
    padding: 10px;
}
h1{
    font-family: sans-serif;
    font-size: 20px;
}
h1 +p{
    font-family: 'Raleway';
    font-size: 17px;
}

.barre_recherche{
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    border: 1px;
    
    width: 20%;

}
.barre_recherche input{
    font-size: 20px;
}

.logo{
    min-width: 50px;
    max-height: 60px;
    background-color: rgb(189, 176, 176);

}
.Recherche{

    border-radius: 14px;
    background-color: cornflowerblue;

}
.Recherche p{
    padding: 5px 20px 5px 20px;
    font-family: 'Raleway';
    color: cornsilk;

}
.Filtres{

    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 500;
    display: flex;
}
.vignette{
    padding-left:50px ;
}
.Filtres + p{
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 16px;
}
