@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}
body{
    padding: 2%;
    margin-bottom: 0em;
}
.corps{
    padding: 0em;
}
header a{
    width: 30%;
}
header a img{
    width: 100%;
}
header .DesktopNav {
    font-size: 3em;

font-weight: 600;
}
.DesktopNav .hebergement, .activités{
    display: none;
}

.DesktopNav .hebergement{
    display: none
}

.NavMobil{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.NavMobil p{
    width: 50%;
    text-align: center;
    font-size: 3em;
    
}
h1{
    margin-left: 0.5em;
    font-size: 3.36em;
}
.sousTitre{
font-family: 'Raleway';
    margin-left: 2em;
    margin-right: 1em;
    font-size: 2em;
    padding-bottom: 2em;

}
.barre_recherche{
    margin-top: 3em;
    margin-bottom: 4em;
    margin-left: 30%;
    transform: scale(2.3);
}
.barre_recherche .recherche {
    display: none;
}
input{
    flex:1;
    padding: 15px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    width: 180px;
    border: none;
}
.barre_recherche a{
    border-radius: 14px;
}
.barre_recherche a + .displayLoupe {
    background-color: blue;
    display: block;
} 
.barre_recherche .displayLoupe .fas {
    color: white;
    overflow: hidden;
    border-radius: 14px;
    background-color: blue;
    font-size: 18px;
}

.FiltresBar{
    display: flex;
    flex-direction: column;
    align-items: start;

}
.titreFiltre{
    padding-left:1em;
    font-family: 'Raleway';
    font-size: 3em;
        font-weight: 600;

}
.FiltresBar .vignette{
    transform: scale(2.4);
    margin-right:10em;
    margin-left: 8em;
    margin-bottom: 8em;


}

.vignette i{

    color: rgb(66, 87, 248);
    background-color: rgb(224, 234, 254);
    margin-right:10px;
    border-radius: 40px;
    font-size: 1.1em;
    font-size: 1.3em;
}
.derniereVignette{
    margin-left: 35px;
}





.logements_count{
    font-size: 2.8em;
    justify-content: center;
}
.logements_count i{
    align-items: center;
    font-size: 30px;
    padding: 20px;

    display: block;
}
.premier_section_plus_aside{
    flex-direction: column-reverse;
    width: 100%;
    justify-content: flex-start;
}

.Hebergements_populaires{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0em;

    margin-left: 0%;
}
.titrePopulaire h2{
    font-size: 3em;
}
.titrePopulaire i{
    display: block;
    transform: scale(3);
}
.Hebergements_populaires .LesVignettes .vignettePopulaire {
    border-style: solid;
    border-width: 1em;
    border-color: white;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 1.5em;
}
.LesVignettes{
    width: 95%;
}
.vignettePopulaire{
    height: 20em;
    margin-left: 0em;
    border-width: 5px;

}
.vignettePopulaire .CadreImage{
    height: 100%;
}
.vignettePopulaire .CadreImage img{
    height: 100%;
}
.vignettePopulaire .DescriptionEtNotation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vignettePopulaire .DescriptionEtNotation h2{
    margin-top: 0em;
    font-size: 3em;

}
.vignettePopulaire .DescriptionEtNotation p{
    margin-top: 0em;
    font-size: 2em;

}
.vignettePopulaire .etoilesPopulaire{
    margin-top: 1em;
    font-size: 2em;
    padding-top: 0em;

}












.Hebergements_Marseille{
    width: 100%;
    background-color: white;
}
.LesHebergementsGrille{
    align-items: center;
    flex-direction: column;
}
.Hebergements_Marseille h2{
    padding-left: 5%;
    font-size: 3em;
}
.LesHebergementsGrille article{
    padding-left: 0em;
    margin-left: 0em;
    width: 100%;
    height: 30em;
}
.LesHebergementsGrille a{
    margin-bottom: 4em;
    width: 90%;
    border-radius: 30px;
}
 article .Informations .contenueInfo h2{
    font-size: 3em;
}
article .Informations .contenueInfo h3{
    font-size: 2.5em;
}
article .Informations .etoiles{
    font-size: 2em;
}




.Activités_à_Marseille h2{
    font-size: 3em;
    font-weight: 600;
    margin-left: 2em;
}
.Les_Activités{
    flex-direction: column;
    align-items: center;
    height: auto;
}
.VieuxPort{
    border-radius: 30px;
    width: 90%;
    height: 30em;
    margin-bottom: 4em;

}
.VieuxPort .ImageCadre{
    flex:6;
    height: auto;
}
.VieuxPort .ImageCadre img{
    height: auto;
    width: 100%;

}
.VieuxPort h2{
    margin-top: 1em;

}
.colone2{
    width: 90%;
    height: 62em;
}
.FortDePomegues{
    border-radius:30px ;
}
.IlesDuFrioul{
    border-radius:30px ;

}
.ParcNational{
    margin-top: 2em;
    width: 90%;
    height: 30em;
    border-radius: 30px;
}
.ParcNational .ImageCadre img{
    width: 100%;
    transform: translate(0%,-20%);
}
.colone3{
    align-items: center;
    width: 100%;
    height: 64em;

}
.NotreDame{
    height: 30em;
    border-radius: 30px;
    margin-top: 2em;
    width: 90%;
}
.Parc_Longchamp{
    height: 30em;
    width: 90%;
}
.Parc_Longchamp h2{
    margin-top: 0.5em;
    margin-bottom: 0.5em
}

footer{
    margin-top: 4em;
    flex-direction: column;
    font-size: 35px;
    height: auto;
}
.coloneFooter{
    margin-bottom: 2em;
}

.TitreColone{
    font-size: 40px;
    font-weight: 600;
}
