
body{
    min-width: none;
}
header{
    flex-direction: column;
    align-items: center;
}

header img{
    width: 100%;
}
nav{
    justify-content: space-between;
    width: 100%;
}
nav p {
    font-size: 3em;
    font-family: 'Raleway';
    padding: 10px;
}
h1{
    margin-top:20px;
    font-family: sans-serif;
    font-size: 35px;
    margin-bottom: 0;
}
.sousTitre {
    text-align: center;
    font-size: xx-large;
    font-family: 'Raleway';

}
.corps{
    display: flex;
    flex-direction: column;
}
.barre_recherche{
    transform: scale(2);
    margin-left: 30%;

}



.FiltresBar{
    margin-top: 3em;
    flex-direction: column;
}
.FiltresBar p{
    font-size: 2em;
}
.vignette{
    margin:2em;
    height: 4em;
}

.vignette i{

    color: rgb(66, 87, 248);
    background-color: rgb(224, 234, 254);
    margin-right:10px;
    padding: 1.4em;
    border-radius: 40px;
    font-size: 1.1em;
    font-size: 1.3em;
}
.logements_count{
    font-size: 2em;
}
.logements_count i{
    font-size: 1em;
    padding: 10px;
}






.premier_section_plus_aside{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.Hebergements_Marseille{
    width: 100%;
}
.Hebergements_Marseille h2{
    font-size: 2em;
}
.LesHebergementsGrille article{
height: 16em;
}

.LesHebergementsGrille article .ArticleImage{
    background-color: white;
    
}
.LesHebergementsGrille article .ArticleImage img{
    transform: translateY(-20%);
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 0em;
   
}




.LesHebergementsGrille article .Informations h2{
    
    font-size: 24px;


}
.LesHebergementsGrille article .Informations h3{

    padding-bottom: 1em;
    font-size: 15px;

}

.etoiles{
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-bottom: 0em;
    font-size: 16px;

    color:rgb(66, 87, 248)
}










.Hebergements_populaires{
    width: 100%;
    margin-left: 0em;
    background-color: white;
    height: 100%;
}
.titrePopulaire h2{
    font-size: 2em;

}

.titrePopulaire .fas{
    font-size: 2em;

}
.vignettePopulaire{
    background-color: rgb(242, 242, 242);
}

.vignettePopulaire .CadreImage{
    height: 20em;
    width: 40%;
    overflow: hidden;

}
.vignettePopulaire .DescriptionEtNotation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vignettePopulaire .DescriptionEtNotation h2{
    font-family: 'Raleway';
    font-size: 30px;
}

.DescriptionEtNotation p{
    font-family: 'Raleway';
    font-size: 25px;
}

.etoilesPopulaire{
    padding-top: 2em;
    font-size: 30px;
    display: flex;
    color:rgb(66, 87, 248);


}







.Activités_à_Marseille h2{
    font-family: 'Raleway';
    font-size: 40px
}

.Les_Activités {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%

}
.VieuxPort{
    width: 45%;
}
.colone2{
    width: 45%;
}

.IlesDuFrioul .ImageCadre img{
    width: auto;
    height:  100%;
}

.FortDePomegues .ImageCadre img{
    transform: none;
    min-width: 100%;
    min-height: 100%;
}
.ParcNational{
    margin-top: 2em;
    width: 45%;
}
.ParcNational .ImageCadre img{
    transform: translate(-50%,0% );
}
.colone3{

    margin-top: 2em;
    width: 45%;
}

.NotreDame .ImageCadre img{
    height: 100%;
}

.Parc_Longchamp .ImageCadre img{
    min-width: 100%;
    min-height:  100%;
    transform: translateY(-20%);
}