 @font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}

body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1480px;
    min-width:933px ;
    margin-bottom: 0em;
}
.NavMobil{
    display:none
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
header img{
    width: 100px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;

}
nav p {
    font-family: 'Raleway';
    padding: 10px;
}
a{
    
  outline: none;
  text-decoration: none;
  color: black;
    
}
.DesktopNav .activités :hover{
    Color : #0065FC;
    Font-weight :bold;
    
}
.DesktopNav .hebergement :hover{
    Color : #0065FC;
    Font-weight :bold;
    
}
nav .Inscription a{
    color:rgb(66, 87, 248);
    font-weight: 600;
}
h1{
    margin-top:20px;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 0;
}
.sousTitre{
    margin-bottom: 35px;
    font-family: 'Raleway';
    font-size: 17px;
}
.corps{
    padding: 1%;
}

.barre_recherche{
    display: flex;
    align-items: center;
    overflow:hidden;
    border-style: solid;
    border-color:lightgray;
    border-width: 1px;
    border-radius: 14px;
    height: 50px;
    width: 380px;
    margin-bottom: 30px;

}
.barre_recherche a + .displayLoupe {
    display: none
}
/*.fas est l'icon de localisation dans la barre de recherche*/
.barre_recherche .fas {
    background-color: rgb(242, 242, 242);
    padding: 20px;
    font-size: 18px;
}
input{
    padding: 15px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    width: 180px;
    border: none;
}
input + a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    color: white;
    height: 200px;
    width: 420px;
    background-color: rgb(66,87,255);


}


.FiltresBar{
    display: flex;
    flex-direction: row;
    align-items: center;

    overflow: hidden;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 600;
   
}
.lesVignettes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.vignette{
    margin: 20px;
    display: flex;
    align-items: center;
    border-width: 2px;
    border-radius: 50px;
    border-style: solid;
    border-left: none;
    border-color: rgb(217, 217, 217);
    height: 50px;
  transition: transform 400ms;
}

.vignette:hover{
    transform:scale(1.1);
}
.vignette p{
    margin-right: 10px;
}
.vignette i{
    color: rgb(66, 87, 248);
    background-color: rgb(224, 234, 254);
    margin-right:10px;
    padding: 18px;
    border-radius: 40px;
    font-size: 1.1em;
}
.vignette .far {
    font-size: 20px;
}
.vignette img{
    background-color: rgb(224, 234, 254);
    margin-right:10px;
    padding: 18px;
    border-radius: 40px;
    font-weight: 300;
    width: 20px;
}
.logements_count {
    display: flex;
    align-items: center;
}
.logements_count {
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 15px;
}
.logements_count i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    color: rgb(66, 87, 248);
    background-color: white;
    margin-right:10px;
    border-radius: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(217, 217, 217);
    font-size: 13px;
    padding: 5px 5px 5px 5px ;
    transition: transform 400ms;


}
.logements_count i:hover{
    transform: scale(1.1)

}









.premier_section_plus_aside{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.Hebergements_Marseille{
    background-color: rgb(242,242,242,242);
    border-radius: 14px;
    align-items: center;
    width: 70%;

}

.Hebergements_Marseille h2{
    padding: 35px;
    padding-left: 2.4%;
    padding-bottom: 2em;
    font-size:19px;
    font-weight: 500;
    font-family: 'Raleway';

}
.LesHebergementsGrille{
    padding-left: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.LesHebergementsGrille a:hover{
    transform: scale(1.16);
}
.LesHebergementsGrille a{
    transition: transform 400ms;
    width: 30%;
    margin-right: 2%;
    margin-bottom: 2%;
    overflow: hidden;
    border-radius: 14px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-color: white;
    border-width: 4px;
    border-style: solid;
}
.LesHebergementsGrille article{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 150px;
}
.LesHebergementsGrille article .ArticleImage{
    height: 60%;
    overflow: hidden;
    
}
.LesHebergementsGrille article .ArticleImage img{
    transform: translateY(-20%);
    width: 100%;
    min-height: 100%;
}
.LesHebergementsGrille article .Informations{
    background-color: white;
    padding-left: 5%;
    margin-top: 0em;
    margin: 0em;
    width: 100%;

}
.LesHebergementsGrille article .Informations h2{
    
    padding: 0em;
    padding-top: 0.5em;
    margin: 0em;
    font-family: 'Raleway';
    font-size: 15px;


}
.LesHebergementsGrille article .Informations h3{

    padding: 0em;
    margin: 0em;
    font-weight: normal;

    padding-top: 0.5em;

    padding-bottom: 0.5em;

    font-family: 'Raleway';
    font-size: 12px;

}
.LesHebergementsGrille article .Informations h3 span{

    font-weight: 600;

}

.etoiles{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-bottom: 0em;
    font-size: 10px;

    color:rgb(66, 87, 248)
}
.etoiles .etoileOff{
    color:rgb(217, 217, 217)
}

/* 
.LesHebergementsGrille article{

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 200px;
    height: 160px;
    border-color: white;
    border-style: solid;
    border-radius: 14px;
    border-width: 5px;
    transition: transform 400ms;
    
} 
.LesHebergementsGrille article:hover{
    transform: scale(1.04)
}
.LesHebergementsGrille article .ArticleImage{
    overflow: hidden;
    height : 95px;
    position: relative;
    z-index: 1;

}
.LesHebergementsGrille article .ArticleImage .Cannebiere{
    height: 140px;
    top:-24px;
    left: -10px;
    position: absolute;
}
.LesHebergementsGrille article .ArticleImage .HotelDeLaMer{

    height: 190px;
    top:-55px;
    left: 0px;
    position: absolute;


}
.LesHebergementsGrille article .ArticleImage .Amina{

    position: absolute;
    width: 200px;
    top:-100px


}


.LesHebergementsGrille article .Informations{
    position: absolute;
    background-color:white ;
    top:40px;
    height: 150px;
    width: 300px;

}
.LesHebergementsGrille article .Informations .contenueInfo{
    position: relative;
}
.LesHebergementsGrille article .Informations h2{
    position: absolute;
    font-family: 'Raleway';
    font-size: 13px;
    font-weight: 590;
    top: 15px;
    left: -24px;
}
.LesHebergementsGrille article .Informations h3{

    position: absolute;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 300;
    top:72px;
     left:10px 


}
.LesHebergementsGrille article .Informations h3 span{

    font-weight: 550;


}
.LesHebergementsGrille article .Informations .etoiles{

    position: absolute;
    font-family: 'Raleway';
    font-size: 5px;
    top: 106px;
    left: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    position: absolute;
    color:rgb(66, 87, 248);

}
.LesHebergementsGrille article .Informations .etoiles .etoileOff{
    color: rgb(217, 217, 217)

} */


/* ICI COMMENCE LE CSS POUR LE ASIDE DES HEBERGEMENTS POPULAIRES*/

.Hebergements_populaires{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    background-color: rgb(242, 242, 242);
    height: 630px;
    width: 30%;
    border-radius: 14px;
    margin-right: 0em;
    padding: 0em;
    margin-left: 3%;

}

/*Titre du Aside pour les hebergements populaires*/

.titrePopulaire{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    margin-top: 2em;
    margin-bottom: 2em;
}
.titrePopulaire h2{
    text-align: center;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
    margin-left: 5%;
}
.titrePopulaire .fas{
    font-size: 18px;
    margin-right: 6%;

}
/* Vignette dans le Aside*/
/* 
.vignettePopulaire{

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 14px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    display: flex;
    background-color: white;
    margin-bottom: 35px;
    height: 120px;
    width: 275px;
    position: relative;
    overflow: hidden;
    transition: transform 400ms;

}
.vignettePopulaire:hover{
    transform: scale(1.04);
}
.vignettePopulaire img{
    position: absolute;
    left: -40px;

    width: 180px;
    z-index: 1;
}
.vignettePopulaire .ToutBleuEtBlanc{
    width: 110px;
    top:-30px;
    left: 0px;
}
.DescriptionEtNotation{
   flex-wrap: wrap;
    position: absolute;
    margin-left: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    width: 170px;
    height: 120px;
    right: 0px;
}
.DescriptionEtNotation h2{
    padding-left: 15px;
    position: relative;
    top:-10px;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 550;
    
}
.DescriptionEtNotation p{

    position: relative;
    top:-20px;
    padding-left: 15px;

    font-family: 'Raleway';
    font-size: 11px;
    font-weight: 300;

}
.DescriptionEtNotation p span{
    font-weight: 550;
}
.DescriptionEtNotation .etoilesPopulaire{
    position: absolute;
    bottom: 10px;
    z-index: 3;
    padding-left: 15px;

    font-size: 10px;
    display: flex;
    flex-direction: row;
    position: absolute;
    color:rgb(66, 87, 248);
}
.DescriptionEtNotation .etoilesPopulaire .etoilePopulaireOff{
    color:rgb(217, 217, 217);
} */
.Hebergements_populaires .LesVignettes .vignettePopulaire {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 1.5em;
}
.LesVignettes{
    width: 100%;
}
.vignettePopulaire:hover{
    transform: scale(1.1);
}
.vignettePopulaire{
    transition: transform 400ms;
    background-color: white;
    display: flex;
    margin: 1em;
}
.vignettePopulaire .CadreImage{
    height: 7em;
    width: 40%;
    overflow: hidden;

}

.vignettePopulaire .CadreImage img{
    height: 100%;

}
.vignettePopulaire .DescriptionEtNotation{
    padding-left: 1em;
    width: 60%;
    
}
.vignettePopulaire .DescriptionEtNotation h2{
    font-family: 'Raleway';
    font-size: 15px;
}
.DescriptionEtNotation p{
    font-family: 'Raleway';
    font-size: 12px;
}
.DescriptionEtNotation p span{
    font-weight: 600;
}







.etoilesPopulaire{
    padding-top: 2em;
    font-size: 10px;
    display: flex;
    color:rgb(66, 87, 248);


}
.etoilesPopulaire .etoilePopulaireOff{
    color: rgb(217, 217, 217)
}



/*LES ACTIVITES A MARSEILLE SECTION */

.Activités_à_Marseille h2{
    font-family: 'Raleway';
    font-size: 19px
}

.Les_Activités {
    display: flex;
    justify-content: space-between;
    height: 23em;

}


.VieuxPort:hover{
    transform:scale(1.1)
}
.VieuxPort{
    transition: transform 400ms;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 14px;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 24%;
}
.VieuxPort .ImageCadre{
    overflow: hidden;
    flex: 4;
    height: 90%;
}
.VieuxPort .ImageCadre img{
    height: 100%;
}
.VieuxPort h2{
    margin: 0em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1em;
    margin-left: 1em;
}


.colone2 {
    width: 24%;
}
.FortDePomegues:hover{
    transform: scale(1.1)

}
.FortDePomegues{
    transition: transform 400ms;

    overflow: hidden;
    border-radius: 14px;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 50%;
    margin-bottom: 5%;
}
.FortDePomegues .ImageCadre{
    overflow: hidden;
    height:  80%;
}
.FortDePomegues .ImageCadre img{
    transform: translateY(-30%);
    width: inherit;
    width: 100%;
    min-height: 100%;
}

.FortDePomegues h2{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1em;
    margin-left: 1em;
}


.IlesDuFrioul:hover{
    transform: scale(1.1);
}
.IlesDuFrioul{

    transition: transform 400ms;
    display: flex;
    flex-direction: column;
    height: 45%;

    overflow: hidden;
    border-radius: 14px;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.IlesDuFrioul .ImageCadre{
    overflow: hidden;
    flex: 4;
    height: 60%;
}
.IlesDuFrioul .ImageCadre img{
    width: 100%;
}
.IlesDuFrioul h2{
    flex:1;
    margin: 0em;
    padding-top: 1em;

    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1em;
    margin-left: 1em;
}



.ParcNational:hover{
    transform: scale(1.1)
}
.ParcNational{
    transition: transform 400ms;
    display: flex;
    flex-direction: column;
    width: 24%;

    overflow: hidden;
    border-radius: 14px;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ParcNational .ImageCadre{
    flex:4;
    overflow: hidden;
    height: 80%;

}
.ParcNational .ImageCadre img{
    transform: translate(-50%,-50%);
}
.ParcNational h2{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1em;
    margin-left: 1em;
}

.colone3{
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.NotreDame:hover{
    transform: scale(1.1);
}
.NotreDame{

    transition: transform 400ms;
    display: flex;
    flex-direction: column;
    height: 55%;

    overflow: hidden;
    border-radius: 14px;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.NotreDame .ImageCadre{
    overflow: hidden;
    flex:4;
    height: 60%;
}
.NotreDame .ImageCadre img{
    width: 100%;
}
.NotreDame h2{


    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1em;
    margin-left: 1em;
}
.Parc_Longchamp:hover{
    transform: scale(1.1);
}
.Parc_Longchamp{

    transition: transform 400ms;
    display: flex;
    flex-direction: column;
    height: 40%;

    overflow: hidden;
    border-radius: 14px;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.Parc_Longchamp .ImageCadre{
    overflow: hidden;
    flex:4;
    height: 60%;
}
.Parc_Longchamp .ImageCadre img{
    width: 100%;
    transform: translateY(-20%);
}
.Parc_Longchamp h2{


    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1em;
    margin-left: 1em;
}







footer{
    display: flex;
    background-color: rgb(242,242,242,242);
    margin: 0;
    font-family: 'Raleway';
    font-size: 12px;
}
.coloneFooter{
    margin-right: 10%;
    margin-left:40px ;
    display:flex;
    justify-content: center;
    flex-direction: column;

}
.TitreColone{
    font-weight: 600;
}

 
