@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}

.corps{
    padding: none;
}

header img{
    width: 250px;
    padding-left: 30px;
}
.DesktopNav .hebergement, .activités{
    display: none;
}
.Inscription{
    display: inline;
    font-size: 24px;
    font-weight: 600;
    padding-right: 50px;

}
.NavMobil{
    display: inline;
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 30px;
}
.NavMobil p::after{
    color:blue;
}
nav + h1{
    padding-left: 50px;
    padding-right: 90px;
    font-size: 40px;
}
h1 +p{
    
    font-size: 30px;
    padding-left: 50px;
}
.barre_recherche{
    margin: auto;
    transform: scale(1.3);
    border-width: 0;

}
.barre_recherche  .displayLoupe .fas {
    background-color:rgb(66,87,255);
    color: white;
    padding: 14px;
    margin-right: 20px;
    font-size: 18px;
    border-radius: 14px;
}
.barre_recherche a .recherche{
    display: none;
}
.barre_recherche a + .displayLoupe {
    display: block;
    border-radius: 14px;

}

input + a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 440;
    color: white;
    height: 200px;
    width: 420px;
    background-color: white


}
.FiltresBar{
    display:flex;
    flex-direction: column;
}
.FiltresBar p{
    text-align: left;
    margin-left: 0;
}
.FiltresBar .lesVignettes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 19px;


}
.vignette{
    transform: scale(1.4);
    margin-right: 160px;
    

}
.vignette:hover{
    transform: scale(1.4)
}
.logements_count{
    font-size: 30px;
    margin-left: 10%;

}
.premier_section_plus_aside{
    display: flex;
    flex-direction: column-reverse;

}
.Hebergements_populaires{
    width: 100%;
    height: 1100px;
    font-size: 0px;
}
.Hebergements_populaires .titrePopulaire h2{
    font-size: 30px;
    margin-bottom: 100px;

}
.Hebergements_populaires .titrePopulaire a i{
    font-size: 30px;
    margin-bottom: 100px;
}
.vignettePopulaire{
    transform:scale(2);
    margin-left:30%;
    margin-bottom: 200px;
}
.Hebergements_Marseille{
    background-color: white;
}
.Hebergements_Marseille .LesHebergementsGrille{
    display: flex;
    flex-direction: column;

}
.Hebergements_Marseille h2{
    font-size: 30px;
    margin-bottom: 100px;
}
.LesHebergementsGrille article{
    transform: scale(2.7);
    margin-left: 200px;
    margin-bottom: 300px;
}

.LesHebergementsGrille .dernier{
    transform: scale(2.7);
    margin-left: 200px;
    margin-bottom: 100px;
}
.Activités_à_Marseille{
    height: 2400px;

}
.Activités_à_Marseille .Les_Activités{
    
    display: flex;
    flex-direction: column;

}
.Activités_à_Marseille  h2{
    font-size: 30px;

}
.Activités_à_Marseille .Les_Activités figure{
    width: 590px;
    height: 360px;
}

.Activités_à_Marseille .Les_Activités figure img{
    width: 770px;
    top:-60px;
    left:0px;
}
.Activités_à_Marseille .Les_Activités .FortDePomègues img{
    position: absolute;
    top:-300px;
    left: 0px;
    width: 650px;

}
.TitreImage p{

    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 800;
    padding-left: 15px;

}
.Activités_à_Marseille .Les_Activités .Parc_Longchamp img{
    position: absolute;
    top:-100px;
    left: -50px;
    width: 650px;

}
footer{
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
footer .coloneFooter .TitreColone{
    font-weight: bolder;

}
footer .coloneFooter {
    margin-bottom: 70px;

}
