@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}
body{
    margin: none;
}
header img{
    width: 400px;
    padding-left: 30px;
}
.DesktopNav .hebergement, .activités{
    display: none;
}

.DesktopNav .hebergement{
    display: none
}
.Inscription{
    display: block;
    font-size: 50px;


}
.NavMobil{
    display: inline;
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 47px;
}
.NavMobil p::after{
    color:blue;
}
nav + h1{
    font-size: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
h1 +p{
    font-size: 33px;
    margin:none;
    padding-left: 10%;
    padding-bottom:10%
}
.barre_recherche{
    justify-content: center;
    margin-top: 10%;
    margin: auto;
    transform: scale(2.4);
    border-width: 0;
    width: 35%;
    margin-bottom: 10%;

}
.barre_recherche  .displayLoupe .fas {
    background-color:rgb(66,87,255);
    color: white;
    padding: 14px;
    font-size: 18px;
    border-radius: 14px;
}
.barre_recherche a .recherche{
    display: none;
}
.barre_recherche a + .displayLoupe {
    display: block;
    border-radius: 14px;

}

input + a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 440;
    color: white;
    background-color: white


}
.FiltresBar{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}
.FiltresBar .titreFiltre{
    font-size: 50px;
    margin-left: 10%;
}
.FiltresBar .lesVignettes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}
.vignette{
    transform: scale(2.3);
    margin-right: 160px;
    margin-left: 16%;
    margin-bottom: 10%;
    

}
.vignette:hover{
    transform: scale(1.4)
}
.logements_count{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 40px;

}
.logements_count i{

    margin-right:6%;
    border-style:solid ;
    border-color: grey;
    padding: 3%;

    font-size: 32px;

}
.premier_section_plus_aside{
    display: flex;
    flex-direction: column-reverse;

}
.Hebergements_populaires{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.titrePopulaire{
    justify-content: space-around;
    align-items: baseline;
    position: relative


}
.Hebergements_populaires .titrePopulaire h2{
    text-align: left;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 40%;
    padding: none;

}
.Hebergements_populaires .titrePopulaire a i{
    position: absolute;
    font-size: 50px;
    left:120%;
    top: 23%;
}
.vignettePopulaire{
    transform: scale(3.0);
    margin-bottom: 80%;
}

.Hebergements_Marseille{
    background-color: white;
}
.Hebergements_Marseille .LesHebergementsGrille{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

}

.Hebergements_Marseille #Hebergement{
    font-family: 'Raleway';
    text-align: center;
    font-size: 50px;

}
.Hebergements_Marseille h2{
    font-size:40px;
    font-weight: 550;
    font-family: 'Raleway';

}
.LesHebergementsGrille article{
    transform: scale(3);
    margin-bottom: 350px;
    width: 275px;
}
.LesHebergementsGrille .dernier{
    margin-bottom: 40%;
}

.LesHebergementsGrille article .ArticleImage .Cannebiere{
    height: 195px;

    top:-74px;
    left: -10px;

}
.LesHebergementsGrille article .ArticleImage .HotelDeLaMer{

    height: 250px;
    top:-105px;
    left: 0px;
    position: absolute;


}
.LesHebergementsGrille article .ArticleImage .Amina{

    position: absolute;
    width: 250px;
    top:-150px


}

.Activités_à_Marseille{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3500px;

}
.Activités_à_Marseille .Les_Activités{
    
    display: flex;
    flex-direction: column;

}
.Activités_à_Marseille  h2{
    font-size: 30px;

}
.Activités_à_Marseille .Les_Activités figure{
    width: 590px;
    height: 360px;
}

.Activités_à_Marseille .Les_Activités figure img{
    width: 770px;
    top:-60px;
    left:0px;
}
.Activités_à_Marseille .Les_Activités .FortDePomègues img{
    position: absolute;
    top:-300px;
    left: 0px;
    width: 650px;

}
.TitreImage p{

    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 800;
    padding-left: 15px;

}
.Activités_à_Marseille #Activités{
    font-size: 50px;
    
}
.Activités_à_Marseille .Les_Activités .Parc_Longchamp img{
    position: absolute;
    top:-100px;
    left: -50px;
    width: 650px;

}
.Les_Activités{
    margin-top: 200px;
    margin-bottom: 10%;
    transform: scale(1.4);
}
footer{
    display: flex;
    flex-direction: column;
    font-size: 45px;
    width: 100%;
}
footer .coloneFooter .TitreColone{

}
footer .coloneFooter {
    margin-bottom: 70px;

}
