 @font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}
.NavMobil{
    display:none
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
header img{
    width: 100px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;

}
nav p {
    font-family: 'Raleway';
    padding: 10px;
}
a{
    
  outline: none;
  text-decoration: none;
  color: black;
    
}
nav .Inscription{
    color:rgb(66, 87, 248);
    font-weight: 600;
}
h1{
    margin-top:20px;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 0;
}
h1 + p{
    margin-bottom: 35px;
    font-family: 'Raleway';
    font-size: 17px;
}
.corps{
    padding: 3%;
}

.barre_recherche{
    display: flex;
    align-items: center;
    overflow:hidden;
    border-style: solid;
    border-color:lightgray;
    border-width: 1px;
    border-radius: 14px;
    height: 50px;
    width: 380px;
    margin-bottom: 30px;

}
.barre_recherche a + .displayLoupe {
    display: none
}
/*.fas est l'icon de localisation dans la barre de recherche*/
.barre_recherche .fas {
    background-color: rgb(242, 242, 242);
    padding: 20px;
    font-size: 18px;
}
input{
    padding: 15px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 580;
    height: 50px;
    width: 180px;
    border: none;
}
input + a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 440;
    color: white;
    height: 200px;
    width: 420px;
    background-color: rgb(66,87,255);


}


.FiltresBar{
    display: flex;
    flex-direction: row;
    align-items: center;

    overflow: hidden;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 600;
   
}
.lesVignettes{
    display: flex;
    flex-direction: row;
}
.vignette{
    margin: 20px;
    display: flex;
    align-items: center;
    border-width: 2px;
    border-radius: 50px;
    border-style: solid;
    border-left: none;
    border-color: rgb(217, 217, 217);
    height: 50px;
  transition: transform 400ms ease-in-out 100ms
}

.vignette:hover{
    transform: scale(1.14);
}
.vignette p{
    margin-right: 10px;
}
.vignette i{
    color: rgb(66, 87, 248);
    background-color: rgb(224, 234, 254);
    margin-right:10px;
    padding: 18px;
    border-radius: 40px;
    font-weight: 350;
}
.vignette .far {
    font-size: 20px;
}
.vignette img{
    background-color: rgb(224, 234, 254);
    margin-right:10px;
    padding: 18px;
    border-radius: 40px;
    font-weight: 350;
    width: 20px;
}
.logements_count {
    display: flex;
    align-items: center;
}
.logements_count {
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 15px;
}
.logements_count i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    color: rgb(66, 87, 248);
    background-color: white;
    margin-right:10px;
    border-radius: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(217, 217, 217);
    font-size: 13px;
    padding: 5px 5px 5px 5px ;
    transition: transform 400ms;


}
.logements_count i:hover{
    transform: scale(1.1)

}









.premier_section_plus_aside{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.Hebergements_Marseille{
    background-color: rgb(242,242,242,242);
    border-radius: 14px;
    width: 100%;
    margin-right:3% ;
    align-items: center;

}

.Hebergements_Marseille h2{
    padding: 35px;
    font-size:19px;
    font-weight: 559;
    font-family: 'Raleway';

}
.LesHebergementsGrille{
    padding-left: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.LesHebergementsGrille a{
    width: 30%;
    margin-right: 2%;
    margin-bottom: 2%;
    overflow: hidden;
    border-radius: 14px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-color: white;
    border-width: 4px;
    border-style: solid;
}
.LesHebergementsGrille article{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 150px;
}
.LesHebergementsGrille article .ArticleImage{
    position: relative;
    height: 60%;
    overflow: hidden;
    
}
.LesHebergementsGrille article .ArticleImage img{
    top:-30%;
    position: absolute;
    width: 100%;
}
.LesHebergementsGrille article .Informations{
    background-color: white;
    padding-left: 5%;
    margin-top: 0em;
    margin: 0em;
    width: 100%;

}
.LesHebergementsGrille article .Informations h2{
    
    padding: 0em;
    padding-top: 0.5em;
    margin: 0em;
    font-family: 'Raleway';
    font-size: 15px;


}
.LesHebergementsGrille article .Informations h3{

    padding: 0em;
    margin: 0em;

    padding-top: 0.5em;

    padding-bottom: 0.5em;

    font-family: 'Raleway';
    font-size: 10px;

}

.etoiles{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-bottom: 0em;
    font-size: 10px;

    color:rgb(66, 87, 248)
}
.etoiles .etoileOff{
    color:rgb(217, 217, 217)
}

/* 
.LesHebergementsGrille article{

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 200px;
    height: 160px;
    border-color: white;
    border-style: solid;
    border-radius: 14px;
    border-width: 5px;
    transition: transform 400ms;
    
} 
.LesHebergementsGrille article:hover{
    transform: scale(1.04)
}
.LesHebergementsGrille article .ArticleImage{
    overflow: hidden;
    height : 95px;
    position: relative;
    z-index: 1;

}
.LesHebergementsGrille article .ArticleImage .Cannebiere{
    height: 140px;
    top:-24px;
    left: -10px;
    position: absolute;
}
.LesHebergementsGrille article .ArticleImage .HotelDeLaMer{

    height: 190px;
    top:-55px;
    left: 0px;
    position: absolute;


}
.LesHebergementsGrille article .ArticleImage .Amina{

    position: absolute;
    width: 200px;
    top:-100px


}


.LesHebergementsGrille article .Informations{
    position: absolute;
    background-color:white ;
    top:40px;
    height: 150px;
    width: 300px;

}
.LesHebergementsGrille article .Informations .contenueInfo{
    position: relative;
}
.LesHebergementsGrille article .Informations h2{
    position: absolute;
    font-family: 'Raleway';
    font-size: 13px;
    font-weight: 590;
    top: 15px;
    left: -24px;
}
.LesHebergementsGrille article .Informations h3{

    position: absolute;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 300;
    top:72px;
     left:10px 


}
.LesHebergementsGrille article .Informations h3 span{

    font-weight: 550;


}
.LesHebergementsGrille article .Informations .etoiles{

    position: absolute;
    font-family: 'Raleway';
    font-size: 5px;
    top: 106px;
    left: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    position: absolute;
    color:rgb(66, 87, 248);

}
.LesHebergementsGrille article .Informations .etoiles .etoileOff{
    color: rgb(217, 217, 217)

} */


/* ICI COMMENCE LE CSS POUR LE ASIDE DES HEBERGEMENTS POPULAIRES*/

.Hebergements_populaires{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    background-color: rgb(242, 242, 242);
    height: 630px;
    width: 60%;
    border-radius: 14px;
    margin-right: 0em;

}

/*Titre du Aside pour les hebergements populaires*/

.titrePopulaire{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.titrePopulaire h2{
    margin-left: 20%;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 530;
}
.titrePopulaire .fas{
    padding-right: 40px;
    font-size: 18px;

}
/* Vignette dans le Aside*/

.vignettePopulaire{

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 14px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    display: flex;
    background-color: white;
    margin-bottom: 35px;
    height: 120px;
    width: 275px;
    position: relative;
    overflow: hidden;
    transition: transform 400ms;

}
.vignettePopulaire:hover{
    transform: scale(1.04);
}
.vignettePopulaire img{
    position: absolute;
    left: -40px;

    width: 180px;
    z-index: 1;
}
.vignettePopulaire .ToutBleuEtBlanc{
    width: 110px;
    top:-30px;
    left: 0px;
}
.DescriptionEtNotation{
   flex-wrap: wrap;
    position: absolute;
    margin-left: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    width: 170px;
    height: 120px;
    right: 0px;
}
.DescriptionEtNotation h2{
    padding-left: 15px;
    position: relative;
    top:-10px;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 550;
    
}
.DescriptionEtNotation p{

    position: relative;
    top:-20px;
    padding-left: 15px;

    font-family: 'Raleway';
    font-size: 11px;
    font-weight: 300;

}
.DescriptionEtNotation p span{
    font-weight: 550;
}
.DescriptionEtNotation .etoilesPopulaire{
    position: absolute;
    bottom: 10px;
    z-index: 3;
    padding-left: 15px;

    font-size: 10px;
    display: flex;
    flex-direction: row;
    position: absolute;
    color:rgb(66, 87, 248);
}
.DescriptionEtNotation .etoilesPopulaire .etoilePopulaireOff{
    color:rgb(217, 217, 217);
}

/*LES ACTIVITES A MARSEILLE SECTION */
.Les_Activités_à_Marseille{
    height: 50%;
    overflow: hidden;
}
.Activités_à_Marseille h2{
    margin-top: 2em;
    width: 100%;
}
.Les_Activités{
    position: relative;
    background-color: blue;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 29em;
    

}

.TitreImage p{
    margin-top: 0%;
}


.Les_Activités a{
    width: 25%;
    height: 90%;
    border-radius: 14px;
    overflow: hidden;
    margin-inline-start: 0%;
}


.Les_Activités a{
    margin-left: 2%;
}
.Les_Activités a .Vieux_port{
    height: 100%;
    width: 100%;
    margin-left: 0%;
    margin-bottom: 0%;
}
.Les_Activités a .Vieux_port .TitreImage{
    height: 10%;


    background-color: white;
}


.Les_Activités .Vieux_port .CadragePourVieuxPort{
    overflow: hidden;
    height: 87%;

border-top-left-radius: 14px ;
border-top-right-radius:14px;
}
.Les_Activités .Vieux_port .CadragePourVieuxPort img{
height: 100%;
padding-bottom: 0;
}






.Les_Activités .deuxiem_colone{
    width: 25%;
    height: 100%;
    overflow: hidden;

}
.deuxiem_colone .FortDePomègues{
    height: 40%;
    width: 95%;
    overflow: hidden;
    border-radius: 14px;
    margin-inline-start: 5%;
}
.FortDePomègues p{
    height: 20%;
    width: 100%;
    background-color: white;
    padding-bottom: 10px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius:14px
}
.deuxiem_colone .FortDePomègues .CadrageFortDePomègues{
    position: relative;
    height: 80%;
    width: 100%;
    overflow: hidden;
    padding-left: 0;
}
.deuxiem_colone .FortDePomègues img{
    position: absolute;
    max-width: 100%;
    min-height: 100%;

}
.deuxiem_colone .FortDePomègues figcaption{
    font-size: 20px;
    margin-top: 0;
}
.deuxiem_colone .îles_du_Frioul{
    overflow: hidden;
    padding-left: 0%;
    height: 43%;
    width: 95%;

    margin-inline-start: 5%;
    border-radius: 14px;
}
.CadrageDuFrioul{
    overflow: hidden;
    height: 80%;
}
.CadrageDuFrioul img{
    width: 100%;
    min-height: 100%;
}
.îles_du_Frioul .TitreImage p{
    margin-bottom: 0;
    background-color: white;
    font-size: 20px;
    height: 90px;

}






.Parc_National_des_calanques{
    margin-left: 0em;
    margin-right: 0em;
    overflow: hidden;
    height: 100%;
    
}
.Parc_National_des_calanques .CadrageCalanques{
    height: 85%;
    overflow: hidden;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
.CadrageCalanques img{
    transform: translate(-50%,-50%);
    min-height: 100%;
}
.Parc_National_des_calanques .TitreImage {
    font-size: 20px;
    height: 20%;
background-color: white;
}







.troisieme_colone .Notre_Dame_de_la_Garde{
    margin-left: 0em;
}

.CadrageCalanques{
    background-color: aliceblue;
    overflow: hidden;
}
.CadrageCalanques{
    margin: 0;
}









.CadrageNotreDame{
    width: 100%;
    min-height: 50%;
    overflow: hidden;
    background-color: white;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;

}
.CadrageNotreDame img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0em;
}
.Notre_Dame_de_la_Garde .TitreImage{
    margin-top: 0em;
    background-color: white;
    border-bottom-left-radius: 14px;

    border-bottom-right-radius: 14px;
}
.Notre_Dame_de_la_Garde .TitreImage p{
    height: 20px;
    padding-bottom: 0.5em;
}




.troisieme_colone .Parc_Longchamp{
    margin-top: 1em;
    margin-left: 0em;
}
.CadrageParc_Longchamp{

    width: 100%;
    overflow: hidden;
    background-color: white;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.CadrageParc_Longchamp img{
    width: 100%;

}
.Parc_Longchamp .TitreImage{
    background-color: white;
    border-bottom-left-radius: 14px;

    border-bottom-right-radius: 14px;
    background-color: white;
}
.Parc_Longchamp .TitreImage p{
    padding-bottom: 1em;

    height: 20px;
}








.Les_Activités .troisieme_colone{
    width: 25%;
    overflow: hidden;
}
footer{
    display: flex;
    background-color: rgb(242,242,242,242);
    margin: 0;
    font-family: 'Raleway';
    font-size: 12px;
}
.coloneFooter{
    margin-right: 10%;
    margin-left:40px ;
    display:flex;
    justify-content: center;
    flex-direction: column;

}
.TitreColone{
    font-weight: 550;
}

 
